@font-face {
  font-family: typewriter;
  src: url(TypeMachine.ttf);
}
* {
  /* background-color: #0c1821; */
  margin: 0;
  padding: 0;
}

html {
  min-height: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #0c1821;
  overflow: hidden;
}

/* div {
  background-color: #0c1821;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: typewriter;
} */

.header {
  background-color: red;
  padding: 20px;
  color: white;
  font-family: typewriter;
  background-color: #0c1821;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.body{
  background-color: #0c1821;
}



.logo {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 1%;
  padding-top: 1%;
    
}

.title {
  display: flex;
  text-decoration: underline;
  color: white;
}

h1{
  position: relative;
  top: -5vh;
  text-align: center;
  justify-content: center;
  font-size: 100px;
}

.clean {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  top: -5vh;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: -5vh;
  color: white;
  padding-bottom: 10px;
  width: 80%;
  left: 10%;
}
