@font-face {
  font-family: typewriter;
  src: url(TypeMachine.ttf);
}

div {
  background-color: #0c1821;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    /* justify-content: center;  */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: typewriter;
}
