@font-face {
  font-family: typewriter;
  src: url(TypeMachine.ttf);
}
* {
  /* background-color: #0c1821; */
  margin: 0;
  padding: 0;
}

.html {
  min-height: 100%;
  background-color: #09eb45;
  margin: 0;
  padding: 0;
}

/* div {
  background-color: #0c1821;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: typewriter;
} */

.header {
  background-color: #0c1821;
  text-align: left;
  padding: 20px;
}

.body{
  background-color: #0c1821;
  min-height: 100%;
  
}

.logo {
  width: 150px;
  height: 150px;
}

.title {
  font-size: 200%;
  position: relative;
  left: 10px;
  top: -70px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.clean {
  font-size: 80%;
  position: relative;
  left: 205px;
  top: -120px;
}


